.root {
    -fx-background-color: #1E824C;
}

.button {
    -fx-background-color: rgba(255, 255, 255, 0.1);

    -fx-font-family: 'DejaVu Sans Condensed', sans-serif;
    -fx-font-size: 12px;

    -fx-text-fill: #FFFFFF;

    -fx-background-color: #96281B;
    -fx-border-radius: 5em;

    -fx-background-radius: 5em;
    -fx-min-width: 64px;
    -fx-min-height: 64px;
    -fx-max-width: 64px;
    -fx-max-height: 64px;
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.label {
    -fx-font-family: 'DejaVu Sans Condensed', sans-serif;
    -fx-border-radius: 0;
    -fx-font-size: 16px;

    -fx-text-fill: #ECF0F1;
}